.logo-nav{
	height: 50px;
	margin-left: 22px;
	float: left;
}

.navbar-brand{
	padding: 0 0;
}

.navbar-nav{
	float: right!important;
}

.logo-text{
	font-size: 25px;
	float: left;
	color: white;
	margin: 10px 15px;
}

.container>.navbar-header{
	width: 100%;
}

.stop-a{
	padding: 0 0;
	margin: 0 0;
	position: absolute;
}